<div class="container">
  <h1>Owners List</h1>
  <nav class="nav nav-pills pull-right">
    <li role="presentation" class="active"><%= link_to 'Owners', owners_url %></li>
    <li role="presentation"><%= link_to 'Ownerships', ownerships_url %></li>
    <li role="presentation"><%= link_to 'Pets', pets_url %></li>
    <li role="presentation"><%= link_to 'Toys', toys_url %></li>
  </nav>
  <div class="col-sm-12 text-right">
    <%= link_to 'Add owner', new_owner_url %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Id#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Pets</th>
      <th></th>
      <th></th>
    </tr>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.id %></td>
        <td><%= owner.first_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.gender %></td>
        <td><%= owner.pets.map{|pet| pet.name}.to_sentence %></td>
        <td><%= link_to 'Edit', [:edit, owner] %></td>
        <td><%= link_to 'Delete', owner, method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
