<div class="container">
  <h1>New Owner</h1>
  <%= form_for @owner, html: {class: 'form-horizontal col-sm-4'} do |f| %>
    <% if @owner.errors.any? %>
      <ul>
        <% @owner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="form-group">
      <%= f.label :first_name, 'First Name', class: 'col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :last_name, 'Last Name', class:'col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :gender, class: 'col-sm-4' %>
      <div class="col-sm-8">
        <%= f.select(:gender, ['Female', 'Male'], {include_blank: ''}, {class: 'form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <p class="col-sm-4"><b>Pets</b></p>
        <%= f.fields_for :ownerships do |builder| %>
          <%= builder.collection_select :pet_id, @pets, :id, :name, include_blank: true %>
        <% end %>
    </div>
    <%= f.submit 'Add owner', class: 'btn btn-primary pull-right' %>
  <% end %>
</div>
