<div class="container">
  <h1>Jingling Gate Pets</h1>
  <nav class="nav nav-pills pull-right">
    <li role="presentation"><%= link_to 'Owners', owners_url %></li>
    <li role="presentation"><%= link_to 'Ownerships', ownerships_url %></li>
    <li role="presentation" class="active"><%= link_to 'Pets', pets_url %></li>
    <li role="presentation"><%= link_to 'Toys', toys_url %></li>
  </nav>
  <div class="col-sm-12 text-right"><%= link_to 'Add pet', new_pet_url%></div>
  <table class="table table-striped">
    <tr>
      <th>Id#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Type</th>
      <th>Owners</th>
      <th>Toys</th>
      <th></th>
      <th></th>
    </tr>
    <% @pets.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.name %></td>
        <td><%= p.age %></td>
        <td><%= p.pet_type %></td>
        <td><%= p.owners.map{|o| o.first_name}.to_sentence %></td>
        <td><%= p.toys.map{|t| t.name}.to_sentence %></td>
        <td><%= link_to 'Edit', [:edit, p] %></td>
        <td><%= link_to 'Delete', p, method: :delete %></td>
      </tr>
    <% end %>
  </table>

</div>
