<div class="container">
  <h1>Ownerships List</h1>
  <nav class="nav nav-pills pull-right">
    <li role="presentation"><%= link_to 'Owners', owners_url %></li>
    <li role="presentation" class="active"><%= link_to 'Ownerships', ownerships_url %></li>
    <li role="presentation"><%= link_to 'Pets', pets_url %></li>
    <li role="presentation"><%= link_to 'Toys', toys_url %></li>
  </nav>
  <div class="col-sm-12 text-right">
    <%= link_to 'Add ownership', new_ownership_url %>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Id#</th>
      <th>Owner</th>
      <th>Pet</th>
      <th></th>
      <th></th>
    </tr>
    <% @ownerships.each do |ownership| %>
      <tr>
        <td><%= ownership.id %></td>
        <td><%= ownership.owner.first_name %></td>
        <td><%= ownership.pet.name %></td>
        <td><%= link_to 'Edit', [:edit, ownership] %></td>
        <td><%= link_to 'Delete', ownership, method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
